.container {
    width: 96%;
    margin: 0 auto;
    height: auto;
    background-color: rgb(39, 39, 39);
    display: flex;
    border-radius: 10px;
    margin-bottom: 3%;
}

.info {
    width: 28%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 1%;
}

.details {
    width: 72%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 1%;
    margin-bottom: 3%;
}

.name,
h3,
p {
    text-align: center;
    color: white;
}

h3,
h2 {
    color: rgb(231, 221, 160);
    text-align: center;
}

.raridade {
    border-radius: 10px;
    padding: 5px 50px;
}

.rarity-name {
    color: rgb(253, 253, 255);
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 2px black;

}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 4%;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    text-align: center;
}

mat-divider {
    color: white;
    opacity: 0.2;
}

.line {
    border-bottom: 1px solid rgb(128, 126, 126);
    width: calc(100% - 4%);
    margin-bottom: 2%;
}

.off-icon {
    color: white;
}

.sticker-img {
    width: 340px;
    height: auto;
}

@media (max-width: 1300px) {
    .sticker-img {
        width: 250px;
    }

    .title {
        font-size: 20px;
    }
}

@media (max-width: 950px) {
    .sticker-img {
        width: 230px;
    }

    .title {
        font-size: 19px;
    }

    .info {
        width: 35%;
    }

    .details {
        width: 65%;
    }
}

@media (max-width: 950px) {
    .sticker-img {
        width: 190px;
    }
}

@media (max-width: 770px) {
    .title {
        font-size: 22px;
    }

    .sticker-img {
        width: 300px;
    }

    .container {
        display: flex;
        flex-direction: column;

    }

    .info, .details {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}