<div class="container">
    <div class="info">
        <h2 class="title">{{sticker.name}}</h2>
        <img class="sticker-img" src="{{sticker.image}}">
        <h2 class="title">Torneio</h2>
        @if(sticker.tournament_event) {
            <p>{{sticker.tournament_event}}</p>
        }
        @else {
            <mat-icon class="off-icon">highlight_off</mat-icon>
        }
        <h2 class="title">Efeito</h2>
        <p>{{sticker.effect}}</p>
    </div>
    <div class="details">
        <h2 class="title">Descrição</h2>
        <div class="line"></div>
        <div class="name" [innerHTML]="sticker.description | newlineToBr"></div>
        <h2 class="title">Tipo</h2>
        <p>{{sticker.type}}</p>
        <h2 class="title">Raridade</h2>
        <div class="raridade" [style.background-color]="sticker.rarity.color">
            <p class="rarity-name">{{sticker.rarity.name}}</p>
        </div>
    </div>
</div>