<div class="container" [@slideIn]>
    <div class="content">
        <div class="info">
            <mat-card appearance="outlined">
                <app-price [marketHashName]="container" [prices]="prices"></app-price>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content><b>Rental:</b> {{container.rental}}</mat-card-content>
            </mat-card>
            @if(container.type != null) {
                <mat-card appearance="outlined">
                    <mat-card-content><b>Type:</b> {{container.type}}</mat-card-content>
                </mat-card>
            }
            <mat-card appearance="outlined">
                @if(container.first_sale_date != null) {
                    <mat-card-content><b>Date Sale</b>: {{container.first_sale_date}}</mat-card-content>
                }
                @else {
                    <mat-card-content><b>Date Sale</b>: No Information</mat-card-content>
                }
            </mat-card>
            @if(container.type === "Case") {
                <div class="case-content">
                    <mat-card appearance="outlined" (mouseenter)="showTable('case')" (mouseleave)="hideTable()">
                        <mat-card-content><b>See drop probabilities</b><mat-icon>keyboard_arrow_down</mat-icon></mat-card-content>
                    </mat-card>     
                </div>
            }
            @if(container.type === "Souvenir") {
                <div class="case-content">
                    <mat-card appearance="outlined" (mouseenter)="showTable('souvenir')" (mouseleave)="hideTable()">
                        <mat-card-content><b>See drop probabilities</b><mat-icon>keyboard_arrow_down</mat-icon></mat-card-content>
                    </mat-card>    
                </div>
            }
            @if(container.type === "Sticker Capsule") {
                <div class="case-content">
                    <mat-card appearance="outlined" (mouseenter)="showTable('sticker')" (mouseleave)="hideTable()">
                        <mat-card-content><b>See drop probabilities</b><mat-icon>keyboard_arrow_down</mat-icon></mat-card-content>
                    </mat-card>    
                </div>
            }
            <ng-template #noValue>
                <mat-card-content>
                    <b>Value</b>: None
                </mat-card-content>
            </ng-template>
        </div>
        @if(visibleTable === 'case') {
            <div class="table-container" [@slideUp]>
                <app-weapon-case [caseType]="'weapon'"></app-weapon-case>
            </div>
        }
        @if(visibleTable === 'souvenir') {
            <div class="table-container" [@slideUp]>
                <app-weapon-case [caseType]="'souvenir'"></app-weapon-case>
            </div>
        }
        @if(visibleTable === 'sticker') {
            <div class="table-container" [@slideUp]>
                <app-weapon-case [caseType]="'sticker'"></app-weapon-case>
            </div>
        }
        @if(container.contains.length > 0) {
            <h3>Normal itens:</h3>
            <div class="rare-column">
                @for(item of container.contains; track item) {
                    <img class="item" mat-card-sm-image src="{{item.image}}" matTooltip="{{item.name}}">
                }
            </div>           
            @if(container.contains_rare.length > 0) {
                <h3>Rare itens:</h3>
                <div class="rare-column">
                    @for(item of container.contains_rare; track item) {
                        <img class="item" mat-card-sm-image src="{{item.image}}" matTooltip="{{item.name}}">
                    }
                </div>
            }
        }
        @else {
            <h3>This case does not have any droppable content</h3>
        }
    </div>
    <div class="background-image" [ngStyle]="{'background-image': 'url(' + container.image + ')'}"></div>
</div>