<div class="container">
    <img class="img" mat-card-sm-image src="{{container?.image}}">
    <div class="content">
        <h1>{{ container?.name }}</h1>
        <p>{{ container?.market_hash_name }}</p>

        <h3>Normal itens:</h3>
        <div class="rare-column">
            @for(item of container?.contains; track item) {
            <img class="item" mat-card-sm-image src="{{item?.image}}">
            }
        </div>

        <h3>Rare itens:</h3>
        <div class="rare-column">
            @for(item of container?.contains_rare; track item) {
            <img class="item" mat-card-sm-image src="{{item?.image}}">
            }
        </div>

        <div class="info">
            <p><b>Rental:</b> {{container?.rental}}</p>
            <p><b>Type:</b> {{container?.type}}</p>
        </div>
    </div>
</div>