.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #0A0A0A;
    position: sticky;
    display: flex;
}

span {
    color: white;
}

.second-toolbar {
    background-color: #0A0A0A;
}