<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="home-span" (click)="goToHome()">CS2Cyclopedia</span>
        <div class="menu-container">
            <span class="menu-item" (click)="goToAgents()">Agents</span>
            <span class="menu-item" (click)="goToCases()">Cases</span>
            <span class="menu-item" (click)="goToStickers()">Stickers</span>
            <span class="menu-item" (click)="goToKeys()">Keys</span>
        </div>
        <span class="spacer"></span>
        <button mat-icon-button class="icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="second-toolbar">
        @if(containerImage) {
            <ng-container>
                <span> <img class="img" mat-card-sm-image [src]="containerImage"> </span>
            </ng-container>
        }
        <span>{{ containerName }}</span>
    </mat-toolbar-row>
</mat-toolbar>
