.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #0A0A0A;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;

}

span {
    color: white;
}

.second-toolbar {
    background-color: #0A0A0A;
}