<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>CS2Cyclopedia</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="second-toolbar">
        <span>Cases</span>
        <span class="example-spacer"></span>
        <span>Agents</span>
        <span>Keys</span>
        <span>Skins</span>
        <span></span>
    </mat-toolbar-row>
</mat-toolbar>