<div class="container" [@slideIn]>
    <mat-card class="details-container">
        <mat-card class="asd">
            <mat-card-header>
                <mat-card-title>{{agent.name}}</mat-card-title>
            </mat-card-header>
            <img src="{{agent.image}}">
            <mat-card-content>
                <h3>Facção</h3>
                <p class="name">{{agent.faction}}</p>
                <h3>Equipe</h3>
                @if(agent.team.id == 'terrorists') {
                    <img class="team" src="tr_team.webp" alt="Icone site">
                }
                @else {
                    <img class="team" src="ct_team.webp" alt="Icone site">
                }
            </mat-card-content>
        </mat-card>
        <mat-card-content>
            <h3>Descrição</h3>
            <div class="name" [innerHTML]="agent.description | newlineToBr"></div>
        </mat-card-content>
    </mat-card>
</div>