<div class="container" [@slideIn]>
    <mat-card class="details-container">
        <mat-card class="info">
            <mat-card-header>
                <mat-card-title>{{agent.name}}</mat-card-title>
            </mat-card-header>
            <img class="agent-img" src="{{agent.image}}">
            <mat-card-content>
                <h3>Faction</h3>
                <p class="name">{{agent.faction}}</p>
                <mat-divider></mat-divider>
                <h3>Team</h3>
                @if(agent.team.id == 'terrorists') {
                    <img class="team" src="tr_team.webp" matTooltip="{{agent.team.name}}" alt="Icone equipe">
                }
                @else {
                    <img class="team" src="ct_team.webp" matTooltip="{{agent.team.name}}" alt="Icone equipe">
                }
            </mat-card-content>
        </mat-card>
        <mat-card-content class="desc-details">
            <h3>Description</h3>
            <mat-divider class="desc-divider"></mat-divider>
            <div class="name" [innerHTML]="agent.description | newlineToBr"></div>
            @for(collec of agent.collections; track collec) {
                <h3>Collection</h3>
                <div class="collect">
                    <img class="operation-img" src="{{collec.image}}">    
                    <p>{{collec.name}}</p>
                </div>
            }
            <div class="price">
                <h3>Steam Market</h3>
                <app-price [marketHashName]="agent" [prices]="prices"></app-price>
            </div>
        </mat-card-content>
    </mat-card>
</div>