mat-card {
    display: flex;
    width: 100%;
    height: 580px;
    background-color: rgb(39, 39, 39);
    border: none;
    box-shadow: none;
}

.details-container {
    display: flex;
    flex-direction: row;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

img {
    width: 400px;
    height: auto;
}

mat-card-title {
    color: rgb(231, 221, 160);
}

.asd {
    background-color: rgb(39, 39, 39);
    width: 400px;
    height: auto;
    border: none;
}

.asd mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name, h3 {
    color: white;
    text-align: center;
}

.team {
    width: 65px;
    height: auto;
}

.mat-mdc-card-content {
    text-align: center;
}

mat-divider {
    color: white;
    opacity: 0.2;
}