.icon {
    width: 23px;
    height: auto;
    margin-left: 3%;
}

.price-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anim-color-change {
    animation: yellowToGreen 4s ease-in-out infinite;
}

@keyframes yellowToGreen {
    0% {
        color: #ffff00;
    }

    50% {
        color: #7fff00;
    }

    100% {
        color: #ffff00;
    }
}