<div class="container">
    <app-base-filter class="filter" [items]="allKeys" [fieldName]="'name'"
    (filteredItems)="keys = $event"></app-base-filter>
    @for (key of keys; track key.id) {
        <div class="key">
            <div class="info">
                <h2>{{key.name}}</h2>
                <mat-divider></mat-divider>
            </div>
            <div class="details">
                <div class="img">
                    <img src="{{key.image}}">,
                </div>
                <div class="cases">
                    <div class="name" [innerHTML]="key.description | newlineToBr"></div>
                    <h2>Caixas</h2>
                    @for(crate of key.crates; track crate) {
                        <img class="crate-img" src="{{crate.image}}">
                    }
                </div>
            </div>
        </div>
    }
</div>