<div class="container">
    <app-base-filter class="filter" [items]="allAgents" [fieldName]="'name'" (filteredItems)="agents = $event"></app-base-filter>
    @for (agent of agents; track agent.id) {
        <mat-card class="agent-card" appearance="outlined" (click)="goToDetails(agent)" @fadeInDownBig>
            <mat-card-header>
                <mat-card-title>{{agent.faction}}</mat-card-title>
                <mat-divider></mat-divider>
            </mat-card-header>
            <img src="{{agent.image}}">
            <mat-card-content>
                <p class="name">{{agent.name}}</p>
                <p>{{agent.team.name}}</p>
            </mat-card-content>
            <app-price [marketHashName]="agent" [prices]="prices"></app-price>
            <div class="test" [style.background-color]="agent.rarity.color">
                <p>{{agent.rarity.name}}</p>
            </div>
        </mat-card>
    }
</div>