.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 300px;
    height: auto;
    min-height: 450px;
    max-height: 450px;
    background-color: #24242491;
    border: none;
    margin-bottom: 10px;
}

p,
mat-card-title,
mat-card-subtitle {
    color: white;
}

mat-card-content {
    display: table-column;
    text-align: center;
}