<div class="container" (window:scroll)="onScroll()">
    <mat-form-field class="filter">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" [(ngModel)]="searchTerm" (input)="filterStickers()" placeholder="Search">
    </mat-form-field>
    @if(isLoading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } 
    @else {
        @for(sticker of stickers; track sticker.name) {
            <mat-card class="sticker-card" appearance="outlined" (click)="goToDetails(sticker)" @fadeInDownBig>
                <mat-card-header>
                    <mat-card-title>{{sticker.name}}</mat-card-title>
                    <mat-divider></mat-divider>
                </mat-card-header>
                <img src="{{sticker.image}}">
                <mat-card-content>
                    <p class="name">{{sticker.effect}}</p>
                    @if(sticker.tournament_event) {
                        <p>{{sticker.tournament_event}}</p>
                    }
                    @else if (sticker.crates.length > 0) {
                        @for(crate of sticker.crates; track crate.name) {
                            <p>{{crate.name}}</p>
                        }
                    }
                </mat-card-content>
                <app-price [marketHashName]="sticker" [prices]="prices"></app-price>
                <div class="test" [style.background-color]="sticker.rarity.color">
                    <p>{{sticker.rarity.name}}</p>
                </div>
            </mat-card>
        }
    }
</div>