<div class="container">
    <app-base-filter class="filter" [items]="allSkins" [fieldName]="'name'" (filteredItems)="skins = $event"></app-base-filter>
    @for(skin of skins; track skin.id) {
        <div class="content">
            <div class="skin-card">
                <div class="title">
                    <h3>{{skin.name}}</h3>
                </div>
                <mat-divider class="divider"></mat-divider>
                <img class="img" src="{{skin.image}}">
                <p>{{skin.category.name}}</p>
            </div>
        </div>
    }
</div>