<div class="container">
    <app-base-filter class="filter" [items]="allCases" [fieldName]="'name'" (filteredItems)="case = $event"></app-base-filter>
    @for (container of case; track container.name) {
        <mat-card class="case-card" appearance="outlined" (click)="goToDetails(container)" @fadeInDown>
            <mat-card-header>
                <mat-card-title class="ellipsis">{{container.name}}</mat-card-title>
                <mat-card-subtitle class="ellipsis">{{container.market_hash_name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-sm-image src="{{container.image}}">
            </mat-card-content>
        </mat-card>
    }
</div>