<div class="container" (window:scroll)="onScroll()">
    <app-base-filter class="filter" [items]="allGraffiti" [fieldName]="'name'"
        (filteredItems)="graffiti = $event"></app-base-filter>
    @if(isLoading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } 
    @else {
        @for(graffiti of graffiti; track graffiti.name) {
            <mat-card class="card" appearance="outlined" @fadeInDownBig>
                <mat-card-header>
                    <mat-card-title>{{graffiti.name}}</mat-card-title>
                    <mat-divider></mat-divider>
                </mat-card-header>
                <img src="{{graffiti.image}}">
                <mat-card-content>
                    <p class="name">{{graffiti.market_hash_name}}</p>
                    @if (graffiti.crates.length > 0) {
                        @for(crate of graffiti.crates; track crate.name) {
                            <p>{{crate.name}}</p>
                        }
                    }
                </mat-card-content>
                <app-price [marketHashName]="graffiti" [prices]="prices"></app-price>
                <div class="test" [style.background-color]="graffiti.rarity.color">
                    <p>{{graffiti.rarity.name}}</p>
                </div>
            </mat-card>
        }
    }
</div>